---
# Homebrew関連のタスク

- name: Tap a Homebrew repository
  community.general.homebrew_tap:
    name: [
      # 'possatti/possatti', # pokemonsay
      'delphinus/sfmono-square',
    ]

- name: Install homebrew packages
  community.general.homebrew:
    name: '{{ item }}'
    state: present
  loop:
    # common
    - 'git'
    - 'zsh' 
    - 'lazygit'
    - 'mise'
    - 'starship'
    - 'zoxide'
    - 'git-secrets'
    - 'jq'
    - 'nkf'
    - 'yq'
    - 'gh'
    - 'wget'
    - 'tree'
    - 'pstree'
    - 'xmlstarlet'
    - 'openssl'
    - 'vim'
    - 'neovim'
    - 'tmux'
    - 'tmuxinator'
    - 'ngrok'
    - 'age'
    # extend
    - 'bat'
    - 'eza'
    - 'fd'
    - 'coreutils'
    - 'gnu-sed'
    - 'gawk'
    - 'findutils'
    - 'xz'
    - 'fzf'
    - 'expect'
    - 'gpg'
    - 'gnupg'
    - 'git-delta'
    # etc
    - 'opentofu'                  # IaC
    # - 'readline'                # terminal
    # - 'reattach-to-user-namespace'  # terminal
    - 'awscli'                    # aws
    - 'kubectl'                   # k8s
    - 'kind'                      # k8s
    - 'kubecolor'                 # k8s
    - 'k9s'                       # k8s
    - 'helm'                      # k8s
    # - 'docker'                  # docker
    # - 'docker-compose'          # docker
    # - 'docker-completion'       # docker
    - 'toilet'                    # ascii
    # - 'uv'                      # python
    - 'delve'                     # golang
    # - 'alp'                     # for isucon
    # - 'graphviz'                # for isucon
    # - 'mysql-client'            # for isucon
  register: install_results

- name: Show failed packages
  debug:
    msg: "Failed to install: {{ item.item }}"
  loop: "{{ install_results.results }}"
  when: 
    - install_results.results is defined
    - item.failed | default(false)
  run_once: true

- name: Install homebrew cask applications
  community.general.homebrew_cask:
    name: [
      'keyclu',
    ]
    state: present

- name: Install SF Mono Square font
  community.general.homebrew:
    name: 'delphinus/sfmono-square/sfmono-square'
    state: present

- name: Show SF Mono Square font location
  debug:
    msg: "SF Mono Square font installed. Please open the following folder to install the font: {{ lookup('pipe', 'brew --prefix sfmono-square') }}/share/fonts"
